/*
CRITICAL ABOUT CENTERING:

- See codeply with the full explanation on centering horizontally and vertically
https://www.codeply.com/p/H0jFRz4mx5

-----------------------
Fonts used in this project:

font-family: 'Expletus Sans', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  line-height: 1.5;
  color: white;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}


/*NAVIGATION & HEADER SECTION*/
#title {
  background-color: #00ABB3;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.navbar-class {
  margin-bottom: 100px;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-weight: 600;
  font-size: 1.2rem;
}

.container-fluid {
  padding: 2% 10% 0;
}

.download-button {
  margin: 5% 3% 5% 0;
  border-radius: 0.2rem;
}

.title-image {
  /*transform: rotate(25deg);*/
  width: 80%;
}

/*FEATURES SECTION*/
/*Another option here for the padding customization is to use the ID #Features,
instead of custom classes for each part of the columns*/
#features {
  /*transform: translateY(-20%);*/
  background-color: white;
  position: relative;
  z-index: 1;
}

.feature-title {
  font-weight: bold;
}

.feature-title:hover {
  color: #ff4c68;
  transition: .2s;
}

.features {
  padding: 5% 5%;
}

.features-container {
  padding: 0 10%;
}

.text-feature {
  padding: 2% 15% 0;
}

.feature-img {
  padding: 7% 0 5%;
  color: #ef8172;
}

.feature-img:hover {
  color: #ff4c68;
  transition: .5s;
}

/*TESTIMONIALS SECTION*/
#testimonials {
  padding: 5% 15% 3%;
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimonial-text {
  padding: 0 20%;
}

.testimonial-image {
  border-radius: 50%;
  width: 15%;
  margin: 3%;
}

/*CAROUSEL*/
.carousel-indicators {
  margin: -5% 0;
}

.carousel-control-prev {
  padding-top: 10%;
}

.carousel-control-next {
  padding-top: 10%;
}

/*PRESS SECTION*/
#press {
  background-color: #F8C4B4;
  padding: 0 10% 0;
}

.press-column {
  margin: 5% 0;
  display: flex;
  align-items: center;
}

.press-img {
  margin: auto;
}

/*PRICING SECTION*/
#pricing {
  padding: 5% 15%;
}

.pricing-header {
  text-align: center;
}

.card {
  width: 100%;
  border-radius: 1%;
  height: 100%;
  padding-bottom: 2.5%;
  /*This is what makes the buttons to have a slight padding on the bottom */
}

.price {
  color: #ef8172;
  margin-bottom: 7%;
}

.price:hover {
  color: #ff4c68;
}

.center-price-button {
  text-align: center;
}

.sign-up-button {
  border-radius: 0.2rem;
  width: 95%;
  margin-top: auto;
  /*This is what makes them stay in the bottom */
  background-color: #ef8172;
  color: #fff;
}

.sign-up-button:hover {
  background-color: #ff4c68;
  color: #fff;
  transition: .2s;
}

/*CTA SECTION*/
#cta {
  background-color: #00ABB3;
  text-align: center;
  padding: 5% 20% 1%;
}

/*FOOTER SECTION*/

/*-------------------------------- Media Queries 1500px --------------------------------*/

@media (max-width: 1500px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: relative;
    top: 70px;
    transform: rotate(15deg);
  }

  .navbar-class {
    margin-bottom: 0;
  }

  #testimonials {
    padding: 3% 0 0;
  }


  .press-img {
    width: 80%;
  }

}

/*-------------------------------- Media Queries 900px --------------------------------*/

@media (max-width: 900px) {

  #title {
    text-align: center;
  }

  .title-column {
    padding: 0;
  }

  .title-image {
    position: relative;
    top: 0px;
    transform: rotate(0deg);
  }

  .navbar-class {
    margin-bottom: 0;
  }

  #testimonials {
    padding: 3% 0 0;
  }

  .testimonial-text {
    font-weight: 400;
  }

  .press-img {
    width: 60%;
  }

  .p text-feature {
    margin-bottom: 0;
  }

  #cta {
    padding: 5% 2% 1%;
  }

  .cta-h3 {
    font-weight: 400;
  }

}
